<template>
  <div>
    <!-- Table -->

    <div class="container_table">
      <div class="table-wrapper">
        <div class="table-title">
          <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input
              class="form-control form-control-sm ml-3 w-30"
              type="text"
              placeholder="Search"
              id="search"
              v-model="Search"
              aria-label="Search"
            />
          </form>

          <div class="row">
            <div class="col-sm-6">
              <h2>Manage <b>Patrons</b></h2>
            </div>

            <div class="col-sm-6">
              <b-button
                href=""
                class="btn btn-success"
                v-b-modal.addPatronModal
                @click="$bvModal.show('addPatronModal')"
                ><i class="fas fa-user-plus"></i>Add Patron</b-button
              >
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Date Registered</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="Patron in PatronModelFilter" :key="Patron.id">
              <td></td>
              <td>
                {{
                  Patron.first_name +
                  " " +
                  Patron.middle_name +
                  " " +
                  Patron.last_name
                }}
              </td>
              <td>
                {{ Patron.email }}
              </td>
              <td>
                {{ Patron.created_at }}
              </td>
              <td class="text-center">
                <a href="#" class="text-warning"
                  ><i
                    class="fa fa-edit fa-lg mr-4"
                    aria-hidden="true"
                    @click.prevent="Form = Patron"
                    v-b-modal.editPatronModal
                  ></i
                ></a>
                <a
                  href="#"
                  @click="SelectedPatron = Patron"
                  v-b-modal.deletePatronModal
                  class="text-danger"
                  ><i class="fa fa-trash-alt fa-lg mr-4" aria-hidden="true"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <div class="clearfix">
          <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item active">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Add Patron -->
    <b-modal
      id="addPatronModal"
      title="Add Patron"
      centered
      modal-header
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      ref="modal"
    >
      <form>
        <b-form-group>
          <label for="PatronFirstName" class="req">First Name:</label>
          <b-form-input
            id="PatronFirstName"
            placeholder="Input First Name"
            v-model="Form.first_name"
          ></b-form-input>

          <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
          <b-form-input
            id="PatronMiddleName"
            placeholder="Input Middle Name"
            v-model="Form.middle_name"
          ></b-form-input>

          <label for="PatronLastName" class="mt-3 req">Last Name:</label>
          <b-form-input
            id="PatronLastName"
            placeholder="Input Last Name"
            v-model="Form.last_name"
          ></b-form-input>

          <label for="PatronEmail" class="mt-3 req">Email Address:</label>
          <b-form-input
            id="PatronEmail"
            placeholder="Input Email Address"
            v-model="Form.email"
          ></b-form-input>
        </b-form-group>
      </form>

      <template #modal-footer class="float-right">
        <div class="w-100 float-right">
          <button
            type="button"
            class="btn btn-outline-danger mr-3"
            data-dismiss="modal"
            block
            @click="$bvModal.hide('addPatronModal')"
          >
            <i class="fas fa-times-circle mr-2"></i>Cancel
          </button>

          <button
            type="button"
            class="btn btn-outline-success"
            @click="addPatronModal"
          >
            <i class="fa fa-plus-circle mr-2"></i>Add
          </button>
        </div>
      </template>
    </b-modal>

    <!-- EDIT Modal -->
    <b-modal
      id="editPatronModal"
      title="Edit Patron"
      centered
      modal-header
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      ref="modal"
    >
      <form>
        <b-form-group>
          <label for="PatronFirstName" class="req">First Name:</label>
          <b-form-input
            id="PatronFirstName"
            placeholder="Input First Name"
            v-model="Form.first_name"
          ></b-form-input>

          <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
          <b-form-input
            id="PatronMiddleName"
            placeholder="Input Middle Name"
            v-model="Form.middle_name"
          ></b-form-input>

          <label for="PatronLastName" class="mt-3 req">Last Name:</label>
          <b-form-input
            id="PatronLastName"
            placeholder="Input Last Name"
            v-model="Form.last_name"
          ></b-form-input>

          <label for="PatronEmail" class="mt-3 req">Email Address:</label>
          <b-form-input
            id="PatronEmail"
            placeholder="Input Email Address"
            v-model="Form.email"
          ></b-form-input>
        </b-form-group>
      </form>

      <template #modal-footer class="float-right">
        <div class="w-100 float-right">
          <button
            type="button"
            class="btn btn-outline-danger mr-3"
            data-dismiss="modal"
            block
            @click="$bvModal.hide('editPatronModal')"
          >
            <i class="fas fa-times-circle mr-2"></i>Cancel
          </button>

          <button
            type="button"
            class="btn btn-outline-success"
            @click="editPatronModal(SelectedPatron)"
          >
            <i class="fas fa-check-circle mr-2"></i>Save
          </button>
        </div>
      </template>
    </b-modal>

    <!-- DELETE Modal -->
    <b-modal
      id="deletePatronModal"
      title="Delete Patron"
      centered
      modal-header
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      ref="modal"
    >
      <p>Are you sure you want to delete this Record?</p>
      <p class="text-warning"><small>This action cannot be undone.</small></p>
      <template #modal-footer class="float-right">
        <div class="w-100 float-right">
          <button
            type="button"
            class="btn btn-outline-info mr-3"
            block
            @click="$bvModal.hide('deletePatronModal')"
          >
            <i class="fas fa-times-circle mr-2"></i>Close
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-dismiss="modal"
            block
            @click="deletePatronModal(SelectedPatron)"
          >
            <i class="fa fa-trash-alt mr-2"></i>Delete
          </button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {

  
  data() {
    return {
      Form: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "deletePatron"]),
    addPatronModal() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.addPatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },

    editPatronModal(index) {
      console.log(index);
      this.updatePatron(this.Form);
      this.HideModal();
      this.EditToast();
    },

    deletePatronModal() {
      this.deletePatron(this.SelectedPatron);
      this.HideModal();
    },

    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };
      this.SelectedPatron = "";
    },

    AddToast() {
      this.$toast.success(`Patron Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Patron Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

  created() {
    this.fetchPatron();
  },
  computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.first_name.toLowerCase().includes(v));
      });
    },
  },
};
</script>

<style scoped></style>
